<h1>Listing housework_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housework_types.each do |housework_type| %>
      <tr>
        <td><%= housework_type.name %></td>
        <td><%= link_to 'Show', housework_type %></td>
        <td><%= link_to 'Edit', edit_housework_type_path(housework_type) %></td>
        <td><%= link_to 'Destroy', housework_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housework type', new_housework_type_path %>
